<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.CircleOfFridend.dao.FriendTypeMapper" >
  <resultMap id="BaseResultMap" type="com.CircleOfFridend.entity.FriendType" >
    <id column="tid" property="tid" jdbcType="INTEGER" />
    <result column="f_type" property="fType" jdbcType="VARCHAR" />
  </resultMap>
 
  
  <sql id="Base_Column_List" >
    tid,f_type
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from friend_type
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from friend_type
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.CircleOfFridend.entity.FriendType" >
    insert into friend_type (tid, f_type)
    values (#{tid,jdbcType=INTEGER}, #{fType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.CircleOfFridend.entity.FriendType" >
    insert into friend_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="tname != null" >
        f_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="f_type != null" >
        #{fType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="com.CircleOfFridend.entity.FriendType" >
    update friend_type
    <set >
      <if test="tname != null" >
        f_type = #{fType,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CircleOfFridend.entity.FriendType" >
    update friend_type
    set f_type = #{fType,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>